<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <title>SAVE DAT CASH MONEY HONEY</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <!--<link rel="stylesheet" link href="static/css/budget.css">-->
    <link rel="stylesheet" href="{% static "css/budget.css" %}" type="text/css"/>
  </head>
  <style>
      .spaced {width:20%; text-align:center; color:black;}
      .budgeted {width:15%; text-align:center;}
      .spent {width:15%; text-align:center;}
  </style>


  <body>
      {% load humanize %}
      <script src = {% static "/budget.js" %} ></script>
    <div class="container jumbotron">
      <h1>Shellenberger Monthly Budget</h1>
    </div>
    <div class="container jumbotron">
      <table>
          <div class="row">
              <tr>
              <!--<div class="col-auto"><th class="spaced">Salary</th></div>-->
              <div class="col-auto"><th class="spaced">Budgeted Spending</th></div>
              <div class="col-auto"><th class="spaced">Actual Spending</th></div>
              <!--<div class="col-auto"><th class="spaced">Budgeted Savings</th></div>-->
              <div class="col-auto"><th class="spaced">Remaining</th></div>
              </tr>
          </div>
        <div class="row">
          <tr>
              <!--<div class="spaced col-auto"><td class="spaced">$4,693</td></div>-->
              <div class="spaced col-auto"><td class="spaced">{{amount_budgeted|intcomma}}</td></div><!--Get this data to insert from the view.py-->
              <div class="spaced col-auto"><td class="spaced">{{amount_spent|intcomma}}</td></div><!--Get this data to insert from the view.py-->
              <!--<div class="spaced col-auto"><td class="spaced">{{budgeted_saved}}</td></div>-->
              <div class="spaced col-auto"><td class="spaced">{{amount_saved|intcomma}}</td></div><!--Get this data to insert from the view.py-->
          </tr>
          </div>
      </table>
      </div>
    <div class="container">
      <table>
        <th>Category</th>
        <th class="budgeted">Budgeted</th>
        <th class="spent">Spent</th>
        <th class="new_expense">New Expense</th>
        {% for i in stuff %}
        <tr id = "{{i.top_name}}">
          <td class='category'>{{i.top_name}}</td>
          <td class='budgeted'>{{i.budgeted|intcomma}}</td>
          <td class='spent'>{{i.actual|intcomma}}</td>
          <td class='new_expense'><form class="lineItem" method="post">
            <input type="number" name="newExpense" value="">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary" name="Add"  value="{{i.top_name}}" onClick="adjustSpent(this.id)">Submit</button>
          </form></td>
        </tr>
        {% endfor %}
      </table>
        <p></p>
      <h5>Add a new category</h5>
      <form method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="submit" name ="newCategory" class="btn btn-primary" value="Submit">
      </form>
    </div>

  </body>
</html>
